body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

main{
    width: 300px;
    height: 550px;
    margin: auto;
    padding: 22px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 14px;
    margin-top: 95px;
    margin-bottom: 95px;
    box-shadow: 0px 20px 3px 10px hsl(216, 53%, 9%), 0px 20px 3px 40px hsl(217, 54%, 11%);
}

.NftImage{
    position: relative;
    width: 300px;
    border-radius: 13px;
}

.Linknft{
    display: flex;
    width: 300px;
    border-radius: 13px;
    background-color: hsl(178, 100%, 50%);
}

.NftImage:hover{
    opacity: 0.4;
}

h1{
    font-size: 23px;
    color: white;
}

h1:hover{
    color: hsl(178, 100%, 50%);
}

.paragrafo1{
    font-size: 19px;
}

.LetrasDestacadas, .paragrafo1{
    color: hsl(215, 51%, 70%);
}

section{
    display: flex;
}

section .LetrasDestacadas{
    margin-left: auto;
    background-image: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}

.dados{
    color: hsl(178, 100%, 50%);
    background-image: url(../images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 18px;
}

hr{
    line-height: 90px;
}

footer{
    display: flex;
}

footer img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 10px;
}

footer img:hover{
    margin: 0;
    margin-right: 13px;
    margin-top: 8px;
    border: 2px white solid;
    border-radius: 50%;
}

.name{
    color: white;
    margin-left: 5px;
    margin-top: 15px;
    text-decoration: none;
}

.name:hover{
    color: hsl(178, 100%, 50%);
}